/* Initial styling to prevent FOUC */
html {
  visibility: hidden;
  opacity: 0;
}

html.wf-active {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mobile viewport height fix */
@layer utilities {
  .h-dynamic {
    height: 100dvh;
  }
}

/* TopBar fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.topbar-fade-in {
  animation: fadeIn 6s ease-in-out;
}

/* Return to main menu fade-in animation */
@keyframes fadeInReturnToMainMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.return-to-main-menu-fade-in {
  animation: fadeInReturnToMainMenu 7s ease-in-out forwards;
}

/* Continue button fade-in animation */
@keyframes fadeInContinue {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.continue-fade-in {
  animation: fadeInContinue 0.5s ease-in-out forwards;
}
